#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}

.container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  background-color: aquamarine;
  width: 40vw;
  border-radius: 5px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  input {
    width: 40vw;
  
  }
}

.input-label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  label {
    padding-bottom: 4px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  width: 40vw;
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 8px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    &:hover {
      border-color: red;
    }
}

.test-button {
    background-color: green;
    &:disabled {
        color: grey;
        background-color: darkgray;
        &:hover {
            border-color: blue;
          }
    }
  }
  .clear-button {
    background-color: grey;
    &:disabled {
        color: grey;
        background-color: darkgray;
    }
  }

}
